In [1]:
import datetime

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [16]:
query = f"""
            SELECT *
            FROM statistics_meta
            WHERE statistic_id == 'sensor.energy_consumed')
          """
pd.read_sql(query, 'sqlite:////config/home-assistant_v2.db').sort_values('statistic_id')

OperationalError: (sqlite3.OperationalError) near ")": syntax error
[SQL:
            SELECT *
            FROM statistics_meta
            WHERE statistic_id == 'sensor.energy_consumed')
          ]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [14]:
query = f"""
            SELECT *
            FROM statistics
          """
pd.read_sql(query, 'sqlite:////config/home-assistant_v2.db')

,id,created,start,mean,min,max,last_reset,state,sum,metadata_id
0,1,2022-09-11 16:00:10.232580,2022-09-11 15:00:00.000000,0.020000,0.02,0.02,None,NaN,NaN,1
1,2,2022-09-11 16:00:10.232847,2022-09-11 15:00:00.000000,2.810000,2.81,2.81,None,NaN,NaN,2
2,3,2022-09-11 16:00:10.232948,2022-09-11 15:00:00.000000,0.080000,0.08,0.08,None,NaN,NaN,3
3,4,2022-09-11 16:00:10.233033,2022-09-11 15:00:00.000000,3.870000,3.87,3.87,None,NaN,NaN,4
4,5,2022-09-11 16:00:10.233112,2022-09-11 15:00:00.000000,0.040000,0.04,0.04,None,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...
7567,7568,2022-09-13 19:00:10.161326,2022-09-13 18:00:00.000000,32.000000,32.00,32.00,None,NaN,NaN,155
7568,7569,2022-09-13 19:00:10.161403,2022-09-13 18:00:00.000000,NaN,NaN,NaN,None,3.34,0.35,156
7569,7570,2022-09-13 19:00:10.161482,2022-09-13 18:00:00.000000,0.000000,0.00,0.00,None,NaN,NaN,157
7570,7571,2022-09-13 19:00:10.161585,2022-09-13 18:00:00.000000,18.373025,17.02,18.48,None,NaN,NaN,158
7571,7572,2022-09-13 19:00:10.161678,2022-09-13 18:00:00.000000,10.000000,10.00,10.00,None,NaN,NaN,159